.active_button {
    background: black;
    color: white;
}
html {
    background: black;
    color: white;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
}
body {
    margin: 60px;
}
button {
    background: rgba(255,255,0,0.5);
    font-family: "Bebas Neue", serif;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 25px;
    padding: 10px;
    border: 2px solid white;
    color: white
}

button:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.75); 
    cursor: pointer;
}
.preview_window {
    position: sticky;
    top: 0px;
    background: #000000;
}

iframe {
    width: 18dvw;
    height: 10dvw;
}