/* Dropdown Button */
* {
    /* background: #b4b4b4; */
    font-family: "Kanit", serif;
    font-weight: 600;
    font-style: normal;
    align-items: center;
    justify-content: center;
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
* button, * input{
    background:rgba(255, 255, 0, 0.25);
    border: solid 1px white;
    /* border-radius: 5px; */
    backdrop-filter: blur(2px);
    cursor: pointer;
    text-align: center;
}
* button:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.55); 
}
iframe {
    width: 18dvw;
    height: 10dvw;
}
html {
    background: #000;
}

.main {
    background: linear-gradient(rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0.75)), url("background.jpg");
    background-size: cover;
    height: 100dvh;
    width: 100dvw;
}

.audio {
    margin: 10px;
}
.color {
    display:flex;
}
.music {
    width: 30%;
    max-width:300px;
    margin-top: 10px;
}

.audio p {
    text-align: left;
}

.header {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    text-align: center;
}
.header button {
    width: 80%;
    max-width:300px;
    justify-content: center;
}
.period button {
    width: 100px;
    margin: 0 25px;
    max-width:50px;
    justify-content: center;
}
.period_div {
    display:flex;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    text-align: center;
}
.team_name {
    width: 60%;
    font-size: 1.5rem;
    background-color: #ffffff00;
    border: 1px solid #6b6b6b;
}
.home button, .time button:not(.possession), .visitor button{
    width: 80%;
    max-width:300px;
    margin-top: 10px;
}
.home button:not(.active_button), .home input {
    background:rgba(0, 255, 0, 0.25);
}
.visitor button:not(.active_button), .visitor input {
    background:rgba(255, 255, 255, 0.25);
}
.time_enter {
    width: 80px;
}
.countdown_time {
    width: 40%;
}
.possession {
    width: 30%;
    max-width:300px;
    margin-top: 10px;
}
.footer {
    width: 80%;
    max-width: 300px;
    margin-top: 20px;
    background: red;
}
#differential {
    font-size: 2rem;
}
.active_button {
    background:rgb(0, 0, 0);
}